body{
    background: url("https://i.imgur.com/8M7YsDs.jpg") no-repeat center center fixed;
    background-size: cover;
}

.navbar{
    border: 0px;
    width: 100%;
    height: 150px;
  background: url("https://i.imgur.com/7fsaqAR.png") center;
    background-size: cover;
}
.navbar .navbar-nav{
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar .navbar-header{
    text-align: center;
}
.navbar .navbar-header a {
    float: none;
}